<h1>Password reset</h1>

<p>To reset your password click the link below:</p>

<%# -> edit_api_v1_password_resets GET   /api/v1/password_resets/:token(.:format) api/v1/password_resets#edit ではなく
Vue app.vue
=>path: "/password_resets/:token",
        name: "ResetPassword",
        component: ResetPassword
      , %>

<%# <%= link_to "Reset password", edit_api_v1_password_resets_url(@user.reset_password_token, email: @user.email)%> %>
<%= "http://localhost:5000/password_resets/#{@user.reset_password_token}" %>

<p>This link will expire in two hours.</p>

<p>
If you did not request your password to be reset, please ignore this email and
your password will stay as it is.
</p>