<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PartyKit - オンラインイベント告知サービス</title>
<%= favicon_link_tag asset_path('favicon.png') %>
<%= javascript_pack_tag 'hello_vue' %>
<%= stylesheet_pack_tag 'hello_vue' %>
