<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>LAPLACE | Let's watch video with everyone.</title>
<%= javascript_pack_tag 'hello_vue' %>
<%= stylesheet_pack_tag 'hello_vue' %>